@import fonts;

$color-gentiana = #06131b
$color-violet-eggplant = #971571
$color-dark-gray = #818181
$color-dim-gray = #5f5f5f
$color-light-tegrai = #d0d0d0
$color-gray = #767676;
$color-dark-purple-violet = #6e0ca8
$color-heather-violet = #d7569c
$color-pale-greenish-yellow = #ffe87e

$lg = 1220px
$md = 992px
$sm = 768px


:focus {
	outline none
}

a {
	text-decoration none
	color inherit
	
	&:hover {
		text-decoration underline
	}
}

.page {
	margin 0
	font-family "PT Sans"
	line-height 1.2
	// background url(../pixel/index.jpg) center -59px
	
	&__grid-line {
		margin-bottom 42px
	}
	
	&_reviews {
		background url(../pixel/reviews.jpg) center top
	}
	
	&_card {
		background url(../pixel/card.jpg) center top
	}
	
	&_order {
		background url(../pixel/order.jpg) center -20px
	}
}

.index {
	&__title {
		margin: 34px 0 73px;
		font-weight normal 
		color $color-dim-gray
		background white
		font-size 25px 
		line-height 1
		
		@media (min-width $sm) {
			font-size 55px
			 55px
		}
	}
}



.typo {
	
	&_color {
		&_violet-eggplant {
			color $color-violet-eggplant
		}
	}

	&__h1 {
		margin 0
		font-size 30px 
		
		@media (min-width $sm) {
			font-size 60px
		}
	}
	
	&__h2 {
		margin 0
		font-size 26px
	}
	
	&__h3 {
		margin 0
		font-size 24px
		font-weight 700
	}
	
	&__inner-link {
		color inherit
		text-decoration none
		
		&:hover {
			text-decoration underline
		}
	}
}

.page {
	&-reviews {
		&__container {
			padding 90px 25px 47px
		}
		
		&__icon {
			margin-bottom 13px 
		}
		
		&__title {
			margin-bottom 13px
			color $color-dark-purple-violet
		}
		
		&__slogan {
			color: #232323;
			font-size: 14px;
		}
	}
}

.rating {
	width 22px * 5
	height 18px
	background url(../images/rating.png) left center repeat
	
	&_small {
		width 18px * 5
		height 15px 
		background url(../images/rating-small.png) left center repeat
	}
	
	&__current {
		height 100%
		background url(../images/rating-current.png) left center repeat
		
		&_small {
			background url(../images/rating-current-small.png) left center repeat
		}
	}
	

}

.nav-tabs {
	font-size 20px
	color #232323
	
	&__list {
		list-style-type none
		display flex
		padding 50px 20px
		margin 0
	}
	
	&__item {
		margin-right 45px
		
		&:last-child {
			margin-right 0
		}
	}
	
	&__link {
		color inherit
		text-decoration none
		
		&:hover,
		&_active {
			text-decoration underline
		}
	}
}

.reviews-collapse {
	margin 0  0 47px
	
	&__container {
		background #FFF 
		box-shadow 0 0 29px rgba(0, 0, 0, 0.13)
	}
	
	&__header {
		padding 25px 25px 18px
	}
	
	&__title {
		margin-bottom 20px
	}
	
	&__slogan {
		font-size 14px
		margin-bottom 10px
	}
	
	&__grid {
		font-size 0
		text-align center
		margin 0 -2.5px
		

		
		@media (min-width $lg) {
			margin 0 -8px	
		}
		
		@supports(flex-wrap wrap) {
			display flex
			flex-wrap wrap
			align-items stretch
			justify-content center
		}
		
	}
	
	&__card {
		display inline-block
		vertical-align top
		width 100%
		
		margin 0
		
		@media (min-width $sm) {
			width 50%
		}
		
		@media (min-width $md) {
			width 230px 
			margin 0 2.5px
		}
		
		@media (min-width $lg) {
			width 284px
			margin 0 7.5px
		}
		
		&:nth-child(even) {
			@media (max-width ($sm - 1px)) {
				background-color #e2e2e2
			}
		}
		
		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(8) {
			@media (min-width: $sm) and (max-width ($md - 1px)) {
				background-color #e2e2e2
			}
		}
		
		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(6),
		&:nth-child(8) {
			@media (min-width $md) {
				background-color #e2e2e2
			}
		}
	}
}

.reviews-card {
	box-sizing border-box
	
	padding 21px 24px 20px

	&__header {
		display flex
		align-items center
		margin-bottom 15px 
	}
	
	&__pr {
		margin-right 10px
		border-radius 50%
	}
	
	&__title {
		margin-bottom 5px
		font-size 18px
		font-weight 700
	}
	
	&__date {
		font-size 14px
	}
	
	&__desc {
		margin-bottom 15px
		font-size 14px
	}
	
	&__rating {
		margin-left -2px
	}
}

.reviews-shop {
	margin-bottom 20px 
	&__container {
		margin 0 -10
		
		.slick-slide {
			padding 20px 7.5px 0
			outline none
			&>div {
				margin-bottom 20px
			}
		}
		
		.slick-dots {
			padding 0
			margin 0
			list-style-type none
			text-align center
			
			& li {
					display inline-block
					margin 0 3px 
			}
			
			& li button {
				box-sizing border-box
				display inline-block
				padding 0
				width 11px 
				height 11px
				border-radius 50%
				border 1px solid #c171d4
				background transparent
				font-size 0
				color transparent
			}
			
			& .slick-active button,
			& li button:hover {
				background #c171d4
			}
		}
	}
	
	&__card {
		// margin 0 7.5px 
	}
}

.card-shop {
	box-sizing border-box
	padding 25px 25px 35px
	background #FFF 
	// width 382px
	box-shadow 0 0 10px rgba(0, 0, 0, 0.25)
	color #232323
	
	&__header {
		padding 3px 0 0
	}
	
	&__rating {
		display inline-block
		margin-left -3px 
	}
	
	&__val {
		display inline-block
	}
	
	&__title {
		display block
		margin-bottom 20px
		font-size 26px
		font-weight 700
	}
	
	&__body {
		
		
		@media (min-width 450px) {
			display flex
		}
	}
	
	&__pr {
		height auto
		margin-bottom 10px
		
		@media (min-width 450px) {
			width auto
			margin-right 15px
			margin-bottom 0
		}
	}
	
	&__info {
		display flex
		flex-direction column
		justify-content space-between
		width 120px 
		min-height 82px
		font-size 14px
	}
	
	&__address {
		margin-bottom 10px
	}
	
	&__reviews {
		display flex
		align-items center
	
		&-icon {
			margin-right 10px
		}
		
		&-text {
			padding-top 4px
		}
	}
}


.link-more {
	display block
	padding 15px 10px 13px
	background-color $color-heather-violet
	color white
	text-decoration none
	text-align center
	font-size 21px
	font-family "PT Sans"
	
	@media (min-width $sm) {
		padding 25px 10px 23px
	}
	
	&:hover {
		background-color darken($color-heather-violet, 20%)
		text-decoration none
	}
}

.section {
	
	
	&__container {
		box-sizing border-box
		padding 0 15px
		margin auto 
		
		@media (min-width $sm) {
			width 750px
		}
		
		@media (min-width $md) {
			width 970px
		}
		
		@media (min-width $lg) {
			width 1210px
		}
	}
}

.header {
	padding 18px 0 0
	background #FFF
	
	&__mobile-row {		
		@media (max-width ($sm - 1px)) {
			display flex
			align-items center
			justify-content space-between
			width 100%
			margin-bottom 10px
		}
	}
	
	&__logo {
		width 80px 
		height auto
		
		@media (min-width $sm) {
			width 131px
			
		}
	}
	
	&__container {
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		align-items stretch
		padding: 0 20px;
		
		@media (min-width $sm) {
			flex-direction row
			align-items center
		}
	}
	
	&__nav {
	}
}

.nav {
	position relative
	font-size 18px
	color $color-gentiana
	
	@media (min-width $sm) {
		font-size: 14px;
	}
	
	&__toggle {
		width 30px
		height 20px
		position relative
		transform rotate(0deg)
		transition .2s ease-in-out
		cursor pointer
		background none
		
		@media (min-width $sm) {
			display none
		}
		
		span {
			display block
			position absolute
			height 4px
			width 100%
			background $color-gentiana
			border-radius 9px
			opacity 1
			left 0
			transform rotate(0deg)
			transition .25s ease-in-out

			&:nth-child(1) {
				top 0
			}

			&:nth-child(2) {
				top 8px
			}

			&:nth-child(3) {
				top 16px
			}
		
		}
		
		&_open {
			span {
				&:nth-child(1) {
					top 12px
					transform rotate(135deg)
				}
				
				&:nth-child(2) {
					opacity 0
					left -40px
				}
				
				&:nth-child(3) {
					top 12px
					transform rotate(-135deg)
				}
			}
		}
	}
	
	&__list {
		display none
		
		list-style-type none
		padding 0
		margin 0		
		
		&_open {
			width 100%
			
			
			
			display block
			
			@media (max-width ($sm - 1px)) {
				// position absolute
				// top 30px
				left 0
				width 100%
			}
		}
		
		@media (min-width $sm) {
			display flex
		}
	}
	
	&__item {
		margin-bottom 5px
		
		@media (min-width $sm) {
			margin-right 35px
			margin-bottom 0	
		}
		
		&:last-child {
			margin-right 0
		}
	}
	
	&__link {
		text-decoration none
		color inherit
		
		&:hover,
		&_active {
			text-decoration underline
		}
	}
}

.address-delivery {
	margin-bottom 23px
	
	&__container {
		display flex
		flex-direction column
		width 100%
		align-items stretch
		border-radius 4px 3px 3px 4px
		border 2px solid $color-light-tegrai
		font-family "Bliss Pro"
		background white
		
		@media (min-width $sm) {
			flex-direction row
		}
	}
	
	&__column {
		box-sizing border-box
		padding 12px 20px
		border-bottom 1px solid $color-light-tegrai
		
		@media (min-width $sm) {
			width 33%
			border-right 1px solid $color-light-tegrai
			border-bottom none
		}
		
		&_checkbox {
			display flex
			align-items center
		}
		
		&:last-child {
			border-right none
			border-bottom none
		}
	}
	
	&__label {
		margin-bottom 5px
		color $color-dark-purple-violet
		font-size 18px
		font-weight 400
	}
	
	&__field {
		display block
		width 100%
		background transparent
		border none
		font-family inherit
		font-size 23px
		font-weight 300
		color $color-dark-gray
	}
	
	&__checkbox-with-field {
		margin-right 20px
	}
}

.h-menu-first {
	border-top 1px solid #a0a0a0
	background white
	display none
	
	@media (min-width $lg) {
		display block
	}
	
	&__list {
		display flex
		align-items stretch
		justify-content space-between
		padding 0
		margin 0
		list-style-type none
		font-weight 300
		font-size 16px
		text-align center
		color $color-gray
	}
		
	&__item {
	}
	
	&__link {
		box-sizing border-box
		position relative
		display inline-flex
		align-items center
		height 100%
		padding 10px
		color inherit
		
		&:hover {
			text-decoration none
		}
		
		&:hover,
		&_active {
			color $color-dark-purple-violet
		}
		
		&_active:after {
			content: "";
			position absolute
			bottom 0
			left 50%
			display block
			width 0
			height 0
			margin-left -10px
			border: 10px solid $color-dark-purple-violet;
			border-top-width 7px
			border-bottom-width 7px 
			border-top-color transparent
			border-right-color transparent
			border-left-color transparent
			
		}
	}
}

.h-menu-last {
	background-color $color-dark-purple-violet
	color white
	font-size 14px
	margin-bottom 30px
	// display none
	
	@media (min-width $lg) {
		font-size 16px
	}
	
	@media (min-width $md) {
		display block
	}
	
	&__list {
		display flex
		
		justify-content space-between
		margin 0
		padding 0
		list-style-type none
		text-align center
		
		@supports (flex-wrap wrap) {
			flex-wrap wrap
		}
		
		@media (min-width $md) {
			flex-wrap nowrap
		}
	}
	
	&__item {
		 width 20%
	}
	
	&__link {
		box-sizing border-box
		display block
		width 58px
		padding: 20px 5px 10px;
		
		color inherit
		
		@media (min-width 500px) {
			padding: 20px 5px 10px;
			width 90px 
		}
		

		
		@media (min-width $lg) {
			width 115px
			padding: 20px 25px 10px;
		}
		
		
		&_active,
		&:hover {
			background-color $color-heather-violet
			// color $color-pale-greenish-yellow
			text-decoration none 
		}
	}
	
	&__icon {
		height 75px
		
		@media (max-width ($lg - 1px)) {
			img {
				max-width 40px
				height auto
			}
		}
	}
	
	&__label {
		@media (max-width 499px) {
			font-size 0
		}
	}
	
}

.grid-line {
	&__title {
		color #484848
		display flex
		flex-direction column
		align-items flex-start
		
		@media (min-width $sm) {
			flex-direction row
			align-items center
		}
	}
	
	&__side {
		display flex
		align-items center
		font-size 16px
		font-weight 400
		margin-top 5px
		color inherit
		text-decoration none
		
		
		@media (min-width $sm) {
			margin-left auto
		}
		
		&:hover {
			text-decoration none
			color $color-gentiana
		}
		
		&-arrow {
			position relative
			margin-left 8px
		}
		
		&:hover &-arrow {
		}
	}
	
	&__container {
		
	}
	
	&__show-more {
		margin-top 20px
		
		@media (min-width $sm) {
			margin-top 80px	
		}
	}
}

.grid-slider-5 {
	margin 0 -6.5px
	
	&__item {
		outline none
		padding 6px 7px
		// box-sizing border-box
	}

	
}

.grid-slider-4 {
	margin-left -7px
	margin-right -7px
	
	&__item {
		outline none
		padding 6px 7px
		// box-sizing border-box
	}
	
	&__card {
	}
}

.grid-slider-3 {
	margin 0 -6.5px
	
	&__item {
		outline none
		padding 0 6.5px
	}
}

.card {
	display block
	padding 15px 0 8px
	box-shadow 0 0 13px rgba(139, 139, 139, 0.42)
	text-align center
	background-color #FFF 
	// box-sizing border-box
		
	&:hover {
		text-decoration none
	}
		
	&_pr {
		padding 0
		box-shadow none
	}
	
	&__pr {
		width 100%
		height auto
	}
	
	&__title {
		color $color-dark-gray
		font-size 18px
	}
	
	&__hr {
		margin 5px 16px 5px
		height 2px
		background-color $color-light-tegrai
		border none
	}
	
	&__price {
		color #101010
		font-size 19px
		font-weight 700 
	}
}

.subscription {
	background-color $color-dark-purple-violet
	
	&__container {
		display flex
		flex-direction column
		align-items center
		padding 13px 0 18px
		
		@media (min-width $sm) {
			flex-direction row
		}
	}
	
	&__title {
		min-width 0 
		color #fbfbfb
		font-size 18px
		margin-bottom 10px 
		text-align center
		
		@media (min-width $sm) {
			margin-right 20px	
			margin-bottom 0
			text-align left
		}
	}
	
	&__form {}
	
	&__input {
		box-sizing border-box
		width 100%
		height 35px
		margin-bottom 5px
		border-radius 4px
		border 1px solid #ffffff
		background-color #ffffff
		
		padding 5px 30px
		
		color lighten($color-heather-violet, 0.38)
		font-family "PT Sans"
		font-size 18px
		font-weight 400
		font-style italic
		
		@media (min-width $sm) {
			width 228px
		}
		
		@media (min-width $md) {
			margin-bottom 0 
		}
	}
	
	&__button {
		width 100%
		height 35px
		border-radius 4px
		background-color $color-heather-violet
		font-family "PT Sans"
		font-size 18px
		font-weight 400
		border none
		color #FFF 
		cursor pointer
		
		&:hover {
			background-color darken($color-heather-violet, 20%)
		}
		
		@media (min-width $sm) {
			width 228px
		}

		@media (min-width $md) {
			width 127px
		}
	}
}

.foo {
	border-bottom 1px solid #B3B3B3 
	// background #f6f5f3
	padding-bottom 10px
}

.foo-nav {
	display flex
	flex-direction column
	
	@media (min-width $sm) {
		flex-direction row
	}
	
	&__column {
		padding: 35px 0 0
		
		&_double {
			width 385px	
			max-width 100%
		}
	}
	
	&__title {
		margin 0 0 16px
		color #525252
		font-size 16px
	}
	
	&__list {
		min-height 100px
		padding 0
		margin 0
		list-style-type none
		color $color-gray
		font-size 14px
		line-height 1.4 
		
		
		
		@media (min-width $sm) {
			column-fill auto
			column-width 140px
			column-gap 30px
		}
	}
	
	&__item {
		margin-bottom 5px
	}
	
	&__link {
		color inherit
		text-decoration none
		
		&:hover {
			text-decoration underline
		}
	}
}

.social {
	list-style-type none
	display flex
	margin 0
	padding 0
	
	&__item {
		margin-right 5px		
	}
	
	&__link {
		&:hover {
			opacity 0.75
		}
	}
}

.copy { 
	padding-top 40px
	padding-bottom 20px
	text-align center
	color $color-gray
	font-family "PT Sans"
	font-size 10px
}

.breadcrumbs {
	margin-top 100px
	margin-bottom 15px
	color $color-gentiana
	
	&__list {
		padding 0
		margin 0
		list-style-type none
		font-size 0
		
		@supports(flex-wrap wrap) {
			display flex
			flex-wrap wrap
		}
	}
	
	&__item {
		display inline-block
		margin-bottom 5px
		font-size 14px
		
		&:after {
			content: " > "
			margin-right 3px 
		}
		
		&:last-child:after {
			display none
		}
	}
	
	&__link {
		color inherit
		text-decoration none
		
		&:hover {
			text-decoration underline
		}
	}
	
}

.card-main {
	&__container {
		display flex
		flex-direction column
		
		@media (min-width $lg) {
			flex-direction row
		}
	}
	
	&__slider {
		width 100%
		min-width 0
		
		@media (min-width $lg) {
			width 581px 
			flex: 0 1 auto
		}

	}
	
	&__info {
		width 100%
		margin-top 20px
		
		@media (min-width $sm) {
			margin-top 58px	
		}
		
		@media (min-width $lg) {
			margin-left 58px
			margin-top 0
			width 541px
			min-width 0
		}
	}
}

.card-slider {
	position relative
	
	&__status {
		box-sizing border-box
		position absolute
		top 0
		left 0
		z-index 10
		// width 124px
		// height 53px
		border-radius 0 0 15px 0
		background-color $color-dark-purple-violet
		
		color #ffffff
		font-family "PT Sans"
		font-size 18px
		font-weight 400
		text-align center
		padding 16px 23px
	}
	
	&__prs {
		margin-bottom 16px
		
		img {
			width 100%
			height auto
		}
	}
	
	&__dots {
		margin-right -13px
		
		img {
			width 100%
			height auto
		}
		
		.slick-slide.slick-active {
			margin-right 13px 
			
		}
	}
}

.card-info {
	box-sizing border-box
	padding 20px
	text-align center
	background white
	box-shadow 0 0 29px rgba(0, 0, 0, 0.13)
	color $color-dark-purple-violet
	background url(../images/bg/card-info.png) no-repeat
	
	@media (min-width $sm) {
		padding 20px 43px
	}
	
	&__title {
		margin 20px 0 10px
		font-family "PT Sans"
		font-size 30px
		font-weight 700
		
		@media (min-width $sm) {
			margin 50px 0 10px
			font-size 60px
		}
	}
	
	&__body {
		margin-bottom 30px 
		&:after,
		&:before {
			content ""
			display block
			height 5px
			background url(../images/wavy.png) center center
		}
	}
	
	&__count {
		margin 20px  0 14px
		font-size 20px
	}
	
	&__desc {
		margin-bottom 15px 
		font-size 14px
	}
	
	&__price {
		margin-bottom 23px 
		color $color-gentiana
		font-size 30px
		font-weight 700 
		
		&-icon {
			margin-right 5px
		}

		@media (min-width $sm) {
			font-size 60px
		}
	}
	
	&__option {
		margin-bottom 25px 
	}
	
	&__buy {
		box-sizing border-box
		display block
		padding 15px 15px 13px
		border-radius 5px
		background $color-dark-purple-violet 
		color #ffffff
		font-size 20px
		font-weight 400
		text-transform uppercase
		
		
		&:hover {
			background lighten($color-dark-purple-violet, 20%)
			text-decoration none
		}
	}
	
	&__foo {
		display flex
		flex-direction column
		
		padding 37px 0 0
		
		@media (min-width $sm) {
			flex-direction row
			align-items center
		}
		
	}
	
	&__delivery {
		margin-top 20px
		
		@media (min-width $sm) {
			margin-left auto
			margin-top 0
		}
	}
}

.button-group {
	box-sizing border-box
	display flex
	align-items stretch
	flex-direction column
	flex-basis auto
	color $color-gentiana
	overflow hidden
	border-radius 4px
	border 1px solid #dcc1ec
	
	@media (min-width $sm) {
		flex-direction row
	}
	
	&_available {
		width 100%
	}
	
	&__button {
		flex: 1 1 auto
		padding 12px 20px 10px 40px
		font-size 14px
		text-align left
		border none
		background transparent
		border-bottom 1px solid #dcc1ec
		
		
		@media (min-width $sm) {
			border-right 1px solid #dcc1ec
			border-bottom none
		}
		
		&:last-child {
			border-right none
			border-bottom none 
		}
		
		&_active,
		&:hover {
			cursor pointer
			background-color #dcc1ec
		}
		// flex-basis auto
		// width 33%
	}
	
	&__desc {
		color #6f6f6f
	}
}

.florist {
	display flex
	align-items center
	text-decoration none
	text-align left
	
	&__pr {
		margin-right 14px
	}
	
	&__info {
		color #1b1b1b
		font-size 14px
	}
	
	&__title {
		font-weight 700 
	}

}

.delivery-hint {
	display flex
	align-items center
	
	&__icon {
		margin-right 14px
	}
	
	&__text {
		color #252525
		font-size 14px
		text-align left
	}
}

.twin-cards {
	
	&__title {
		
		margin 92px 0 65px
		font-size 40px	
		font-weight 400 
		text-align center	
	}
	
	&__slider {
		padding 0 25px
		
		@media (min-width $sm) {
			padding 0 38.5px
		}
		
		.slick {
			&-arrow {
				position absolute
				top 120px
				z-index 10
				width 14px
				height 29px
				border none
				font-size 0
				color transparent	
				cursor pointer	
				padding 0
			}
			
			&-prev {
				left 0
				background url(../images/slider-prev.svg)
			}
			
			&-next {
				right 0
				background url(../images/slider-next.svg)
			}
			
			&-slide {
				box-sizing border-box
				padding 11px 
				
			}
		}
	}
}

.twin-card {
	position relative
	text-align center
	font-size 14px
	color $color-gentiana
	text-decoration none
	outline none
	
	&__rating {
		box-sizing border-box
		position absolute
		z-index 10
		top 0
		left 0
		width 48px
		height 48px
		border-radius 0 0 10px 0
		background-color $color-dark-purple-violet
		color white
		text-align center
		padding 15px 5px 0
	}
	
	&__pr {
		width 100%
		height auto
		margin-bottom 15px 
		box-shadow 0 0 11px 1px rgba(0, 0, 0, 0.13)
	}
	
	&__price {
		margin-bottom 6px 
	}
	

}

.buy-edge {
	margin-bottom 95px
	
	&__title {
		
		margin 88px 0 65px
		font-size 40px	
		font-weight 400 
		text-align center	
	}
	
	&__list {
		
		
		@media (min-width $sm) {
			display flex
		}
	}
	
	&__item {
		padding 0 10px
		margin-bottom 50px
		
		@media (min-width $md) {
			padding 0 40px
		}
	}
}

.buy-edge-card {
	text-align center
	
	@media (min-width $sm) {
		text-align left
	}
	
	&__header {
		text-align center	
		height 95px
		margin-bottom 20px
		
		@media (min-width $sm) {
			margin-bottom 55px
		}
	}
	
	
	&__title {
		margin-bottom 18px 
		font-size 16px
		font-weight 700 
	}
	
	&__desc {
		font-size 14px
		
	}
}

.fieldset-order {
	border none
	padding 0
	
	&__legend {
		padding 40px 0 20px
		font-size 24px
		font-weight 700
		color #555
	}
	
	&__line {
		margin-bottom 20px
		
		&:last-child {
			margin-bottom 0
		}
	}
	

	&__field {
		
		
		&_available {
			display block
			width 100%
		}
	}
	
	&__label {
		display block
		margin-bottom 10px 
		color #636363
		font-size 14px
		font-weight 700
	}
	
	&__map {
		height 350px
		margin-bottom 15px
		background red 
	}
}

.field {
	box-sizing border-box
	height 50px
	padding 15px
	background white
	border none
	font-size 14px
	font-weight 700
	font-style italic
	color #b1b1b1
	
	&:focus::placeholder {
		display block
		position relative
		top -15px
		opacity 1 !important
		font-size 12px
		font-style normal 
	}
	
	&_area {
		resize none
		height 65px
	}
	
	&_available {
		display block
		width 100%
	}
}

.field-group-address {
	display flex
	flex-direction column
	
	@media (min-width $lg) {
		flex-direction row
	}
	
	&__field {
		margin-bottom 20px
		
		@media (min-width $lg) {
			margin-right 14px	
		}
		
		&:last-child {
			margin-right 0
			margin-bottom 0
		}
	}
	
	&__main {
		position relative
		flex 1 1 auto
	}
	
	&__apartment {
		@media (min-width $lg) {
			width 160px
		}
	}
	
	&__checkbox {
		
		color #b0b0b0
		font-style italic
		
		@media (min-width $lg) {
			position absolute
			top 15px
			right 5px
		}
	}
}

.field-group-delivery {
	display flex
	flex-direction column
	
	@media (min-width $sm) {
		flex-direction row
	}
	
	&__field {
		flex 1 1 auto
		margin-bottom 20px 
		
		@media (min-width $sm) {
			margin-right 12px
			margin-bottom 0
		}
		
		&:last-child {
			margin-right 0
			margin-bottom 0
		}
	}
}

.order {
	padding 62px 0 0
	
	&__title {
		margin-bottom 12px
		color #555555
		font-size 34px
		font-weight 700	
	}
	
	&__container {
		
		@media (min-width $md) {
			display flex
			align-items flex-start
			flex-direction row
		}
		
	}
	
	&__main{
		flex 1 1 auto
		padding 10px 
		background #f6f5f3
		
		@media (min-width $md) {
			order 0
			padding 0 55px 
		}
	}
	
	&__aside {
		
		box-sizing border-box
		padding 10px
		background-color #88088f
		
		@media (min-width $md) {
			order 1
			width 400px
			padding 10px  15px 0 55px
		}
	}
}

.order-list {
	width 100%
	font-size 17px
	color white
	
	&__name {
		text-align left
		padding 5px 
	}
	
	&__price {
		text-align right
	}
}

.jq {
	
	&-checkbox,
	&-radio {
		box-sizing border-box
		position relative
		top 2px
		display inline-block
		width 17px
		height 17px
		margin-right 5px 
		border-radius 3px 4px 4px 3px
		border 1px solid $color-violet-eggplant
		background-color #f7f6f1
		overflow visible !important
	}
	
	&-checkbox.checked,
	&-radio.checked {
		&:before {
			content ""
		}
	}
	
	&-checkbox.checked {
		&:before {		
			position absolute
			top -2px
			left 1px
			width 19px
			height 15px
			background url(../images/checked.png)
		}
	}
	
	&-radio.checked {
		&:before {
			position absolute
			top 2px
			left 2px
			right 2px
			bottom 2px
			border-radius 3px 4px 4px 3px
			background-color #e296bf
		}
	}
}

.payment {
	// background red
	margin 0 -10px 
	
	@media (min-width $sm) {
		margin 0 -56px  	
	}
}

.payment-tabs {
	display flex
	align-items stretch
	
	&__item {
		padding 13px 
		color $color-gray
		font-size 14px
		font-weight 700
		
		&:first-child {
			padding-left 13px + 10px
			
			@media (min-width $sm) {
				padding-left 13px + 55px
			}
		}
		
		&_active {
			background-color #eeece8
		}
	}
	
	&__icon {
		margin-left 30px
		margin-bottom 0px
	}
}

.payment-content {
	min-width 0
	box-sizing border-box
	padding 0 10px 10px
	background-color #eeece8
	
	@media (min-width $sm) {
		padding 0 55px 38px
	}
	
	&__slogan {
		padding 15px 0
		color #5a5959
		font-size 18px
		font-weight 700
		
		@media (min-width $sm) {
			padding 30px  0 40px 35px
		}
	}
	
	&__subslogan {
		font-size 14px 
	}
	
	&__title {
		margin-bottom 7px
		color #5a5959
		font-size 18px
		font-weight 700
	}
	
	&__creditcard {
		margin-bottom 12px
		max-width 100%
		height auto
	}
	
	&__label {
		display block
		color #808080
		font-size 18px
		font-weight 700
	}
	
	&__hr {
		height 1px
		// border 1px solid $color-violet-eggplant
		border none
		margin 56px  0 32px
		background-color $color-violet-eggplant
	}
	
	&__button {
		box-sizing border-box
		display block
		width 100%
		max-width 100% 
		// height 50px
		padding 15px 15px 13px
		margin 0 auto
		border-radius 3px
		background-color $color-violet-eggplant
		font-size 18px
		font-weight 700
		text-decoration none
		color white
		text-align center
		border none
		cursor pointer
		
		&:hover {
			background-color darken($color-violet-eggplant, 20%)
		}
		
		@media (min-width $sm) {
			width 326px
		}
	}
}

.field-with-icon {
	position relative
	
	&__icon {
		position absolute
		top 0
		bottom 0
		right 15px
		width 27px
		display flex
		align-items center
		justify-content center
	}
	
	&__field {
		
	}
}

.field-with-floating-label {
	position relative
	display block
	
	&__field {
		
	}
	
	
	&__label {
		display block
		position absolute
		top 0
		left 0
		right 0
		display flex
		align-items center
		padding 16px 15px 0
		pointer-events: none;
		font-size 14px
		font-weight 700
		font-style italic
		color #b1b1b1
	}
	
	&__field:focus ~ &__label,
	&__field_used ~ &__label,
	&__field_focus ~ &__label {
		font-size 12px
		padding-top 3px
		 
	}
		
		
}



.lang-switcher {
	box-sizing border-box
	position relative
	background transparent
	width auto
	// box-shadow 0 0 10px 0 rgba(0, 0, 0, .5)
	
	&__current {
		cursor pointer
		&:before {
			content ""
			position absolute
			left -12px
			top 50%
			margin-top -2px
			display block
			width 0
			height 0			
			border 5px solid $color-gentiana
			border-bottom-color transparent
			border-left-color transparent
			border-right-color transparent
		}
	}
	
	&__content {
		box-sizing border-box
		position absolute
		top 100%
		left -5px
		z-index 10
		display none
		width 100%
		padding 5px
		border-radius 5px
		// box-shadow 0 5px 10px 0 rgba(0, 0, 0, .5)
		margin-top 0px
		background white
		
		&_open {
			display block
		}
	}
	
	&__item {
		margin-bottom 5px
		
		&:hover {
			cursor pointer
			opacity 0.75
		}
		
		&:last-child {
			margin-bottom 0
		}
	}
	
	&__icon {
		display block
	}
}

.field-with-phone {
	position relative
	
	&__switcher {
		position absolute
		top 16px
		margin-left 20px
	}
	
	&__field {
		padding-left 60px
	}
	
	

}