.reviews-collapse.section
	.section__container: .reviews-collapse__container.collapse
		.reviews-catalog: .reviews-catalog__masonry
			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Цветы для любимой
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Анна
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Доставили в срок, очень понравилась карточка, свежие цветы, очень понравился улыбчивый курьер, буду всегда у вас заказывать теперь.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же
	
			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Волшебный букет
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-dislike")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Маша
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 20%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Букет которыйя заказывала был с белыми и ярко оранжевыми розами. А доставили с бардовыми((( Меня это очень расстроило т.к. хотелось сделать яркий букет в подарок! Если не было таких роз как на картинке навеное можно было сообщить об этом, чтобы у меня была возможность выбрать другой букет. Часто заказываю у Вас, но в этот раз очень разочарована! Не хочется таких сюрпризов.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же
			
			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Радужная корзина
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Антон
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
				
					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же
			
			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Цветы для любимой
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Анна
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Доставили в срок, очень понравилась карточка, свежие цветы, очень понравился улыбчивый курьер, буду всегда у вас заказывать теперь.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же

			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Волшебный букет
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-dislike")
								
					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Маша
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 20%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Букет которыйя заказывала был с белыми и ярко оранжевыми розами. А доставили с бардовыми((( Меня это очень расстроило т.к. хотелось сделать яркий букет в подарок! Если не было таких роз как на картинке навеное можно было сообщить об этом, чтобы у меня была возможность выбрать другой букет. Часто заказываю у Вас, но в этот раз очень разочарована! Не хочется таких сюрпризов.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же

			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Радужная корзина
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Антон
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же

			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Волшебный букет
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-dislike")
								
					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Маша
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 20%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Букет которыйя заказывала был с белыми и ярко оранжевыми розами. А доставили с бардовыми((( Меня это очень расстроило т.к. хотелось сделать яркий букет в подарок! Если не было таких роз как на картинке навеное можно было сообщить об этом, чтобы у меня была возможность выбрать другой букет. Часто заказываю у Вас, но в этот раз очень разочарована! Не хочется таких сюрпризов.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/2-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же

			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Цветы для любимой
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Анна
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating
								.reviews-catalog-card__rating-icon: svg.svg-sprite(width="16" height="19"): use(xlink:href="images/sprite.svg#flower-with-leaves")
								.rating: .rating__current(style="width: 80%")
							.reviews-catalog-card__rating
								.reviews-catalog-card__rating-icon: svg.svg-sprite(width="19" height="20"): use(xlink:href="images/sprite.svg#delivery-speed")
								.rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Доставили в срок, очень понравилась карточка, свежие цветы, очень понравился улыбчивый курьер, буду всегда у вас заказывать теперь.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же

			.reviews-catalog__item: .reviews-catalog-card
				header.reviews-catalog-card__header
					.reviews-catalog-card__row.reviews-catalog-card__first-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__shop-label магазин
							.reviews-catalog-card__shop-name Цветы для любимой
						.reviews-catalog-card__row-side
							.reivews-catalog-card__vote: svg.svg-sprite(width="20" height="22"): use(xlink:href="images/sprite.svg#vote-like")

					.reviews-catalog-card__row.reviews-catalog-card__second-row
						.reviews-catalog-card__row-side
							.reviews-catalog-card__author Анна
							.reviews-catalog-card__date 14 мая 2017
						.reviews-catalog-card__row-side
							.reviews-catalog-card__rating: .rating: .rating__current(style="width: 100%")
				.reviews-catalog-card__body
					.reviews-catalog-card__opinion Доставили в срок, очень понравилась карточка, свежие цветы, очень понравился улыбчивый курьер, буду всегда у вас заказывать теперь.

					.reviews-catalog-card__row.reviews-catalog-card__photo-row
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-before.jpg")
							.reviews-catalog-card__photo-label На сайте
						.reviews-catalog-card__row-side
							img.reviews-catalog-card__photo(src="images/reviews-catalog-card/1-after.jpg" width="137" height="106")
							.reviews-catalog-card__photo-label Перед доставкой
				footer.reviews-catalog-card__foo
					a.button.button_size_sm.button_theme_dark-purple.button_available(href="#") Заказать такой же
	.section__container
		a.button.button_size_md.button_theme_gray.button_available.reviews-catalog__more(href="#") Смотреть ещё отзывы