.hidden.store-reviews.reviews-collapse.section: .section__container: .reviews-collapse__container.reviews-collapse__container_shop.collapse
		
	.reviews-collapse__header
		h2.typo__h2.reviews-collapse__title.store-reviews__title
		.reviews-collapse__slogan Здесь собраны все отзывы о цветочных магазинах
	.reviews-collapse__grid.store-reviews__grid
		