doctype html
html
	head
		title Цветы - Отзывы
		include blocks/head.pug
		
	body.page
		header.header
			
		include blocks/header.pug

		.page-reviews.section: .section__container: .page-reviews__container
			img.page-reviews__icon(src="images/reviews.png")
			h1.typo__h1.page-reviews__title Отзывы о магазинах
			.page-reviews__slogan Здесь собраны все отзывы о цветочных магазинах: с яндекс-маркета, флампа, флоувау, йел и групп магазинов во вконтакте.
		.section: .section__container: nav.nav-tabs(data-tab-content="#reviews-tab-content"): ul.nav-tabs__list
			li.nav-tabs__item: a.nav-tabs__link.nav-tabs__link_active(href="#") Магазины
			li.nav-tabs__item: a.nav-tabs__link(href="#") Отзывы
		
		.tab-content#reviews-tab-content
			.tab-content__item.tab-content__item_active
				include blocks/reviews-other.pug
			.tab-content__item
				include blocks/reviews-catalog.pug
							
		.reviews-shop.section: .section__container: .reviews-shop__container
			each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
				.reviews-shop__card: .card-shop
					.card-shop__header
						.card-shop__rating
							.rating.rating_small: .rating__current.rating__current_small(style="width: 70%")
						.card-shop__val 3,8
					a.card-shop__title(href="#") Корзинка цветов 
					.card-shop__body
						a(href="#"): img.card-shop__pr(src="images/card-shop.jpg" width="132" height="82")
						.card-shop__info
							.card-shop__address ул. Цветочная, д. 4 тел. 75-24-74
							.card-shop__reviews 
								img.card-shop__reviews-icon(src="images/reviews.png" width="20" height="20")
								a.card-shop__reviews-text(href="#") 543 отзывов

		include blocks/foo.pug
		include blocks/hidden.pug
		include blocks/scripts.pug