doctype html
html
	head
		title Цветы - Отзывы
		include blocks/head.pug
		
	body.page
		header.header
			
		include blocks/header.pug

		.page-reviews.section: .section__container: .page-reviews__container
			svg.svg-sprite.page-reviews__icon(width="75" height="77"): use(xlink:href="images/sprite.svg#reviews")
			h1.typo__h1.page-reviews__title Отзывы о магазинах
			.page-reviews__slogan Здесь собраны все отзывы о цветочных магазинах
		.section: .section__container: nav.nav-tabs(data-tab-content="#reviews-tab-content"): ul.nav-tabs__list
			li.nav-tabs__item: a.nav-tabs__link.nav-tabs__link_active(href="#") Магазины
			li.nav-tabs__item: a.nav-tabs__link(href="#") Отзывы
		
		.tab-content#reviews-tab-content
			.tab-content__item.tab-content__item_active(data-callback="tabCallbackSlick")
				include blocks/reviews/shop.pug

				include blocks/reviews/shop-reviews.pug
			.tab-content__item(data-callback="tabCallbackMasonry")
				include blocks/reviews/all-catalog.pug
							
		

		include blocks/foo.pug
		include blocks/hidden.pug
		include blocks/scripts.pug