footer.foo.section: .section__container
	nav.foo__nav.foo-nav
		.foo-nav__column.foo-nav__column_double
			h3.foo-nav__title Пользователям
			ul.foo-nav__list
				li.foo-nav__item: a.foo-nav__link(href="#") Как сделать заказ на LEKEN
				li.foo-nav__item: a.foo-nav__link(href="#") Оплата
				li.foo-nav__item: a.foo-nav__link(href="#") Доставка
				li.foo-nav__item: a.foo-nav__link(href="#") Возврат и обмен
				li.foo-nav__item: a.foo-nav__link(href="#") Помощь по сервису
				li.foo-nav__item: a.foo-nav__link(href="#") Пользовательское соглашение
				li.foo-nav__item: a.foo-nav__link(href="#") Обратная связь
		.foo-nav__column
			h3.foo-nav__title Флористам
			ul.foo-nav__list
				li.foo-nav__item: a.foo-nav__link(href="#") Подключение к LEKEN
				li.foo-nav__item: a.foo-nav__link(href="#") Помощь для флористов
				li.foo-nav__item: a.foo-nav__link(href="#") Вход в личный кабинет
	ul.foo__social.social
		li.social__item: a.social__link(href="#"): svg.svg-sprite(width="30" height="30"): use(xlink:href="images/sprite.svg#social-fb")
		li.social__item: a.social__link(href="#"): svg.svg-sprite(width="30" height="30"): use(xlink:href="images/sprite.svg#social-in")
		li.social__item: a.social__link(href="#"): svg.svg-sprite(width="30" height="30"): use(xlink:href="images/sprite.svg#social-vk")
.section.copy: .section__container
	| Copyright © 2017 LEKEN, Inc. — The local florist marketplace