header.header.section: .section__container
	.header__container
		.header__mobile-row
			img.header__logo(src="images/logo.png" width="131" height="74" alt="Логотип")

			.nav__toggle
				span
				span
				span
		nav.header__nav.nav
			ul.nav__list
				li.nav__item: a.nav__link.nav__link_active(href="#") Стань флористом
				li.nav__item: a.nav__link(href="#") Каталог
				li.nav__item: a.nav__link(href="#") Отзывы
				li.nav__item: a.nav__link(href="#") Помощь
				li.nav__item: a.nav__link(href="#") Регистрация
				li.nav__item: a.nav__link(href="#") Войти